<?xml version="1.0"?>
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <lockpanel>
                <general>
                    <enable>0</enable>
                    <exception>xxx</exception>
                    <password>5824fa3b-0a41-4ea7-a286-3edf1eed741c</password>
                    <messageerror>Administrative panel blocked, please contact the support center.</messageerror>
                </general>
            </lockpanel>
        </default>
    </config>